:root {
    --card_width: 99px;
    --card_height: 154px;
    --card_raidus: 10px;

    --hearts: 459px;
    --diamonds: 613px;
    --spades: 306px;
    --clubs: 0px;

    --ace: 0px;
    --king: 99px;
    --queen: 197px;
    --jack: 296px;
    --ten: 394px;
    --nine: 493px;
    --eight: 591px;
    --seven: 689px;
    --six: 788px;
    --five: 886px;
    --four: 985px;
    --three: 1083px;
    --two: 1182px;
}

body {
    margin: 0;
    background-color: rgb(20, 20, 110);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game_field {
    background-color: green;
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.75);
    max-width: 1024px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.upper_field {
    display: flex;
    justify-content: space-between;
}

.lower_field {
    display: flex;
    justify-content: space-evenly;
}

.draw_field {
    display: flex;
}

.discard_field {
    display: flex;
}

.field_frame {
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.75);
    width: 100px;
    height: 150px;
    margin: 4px;
}

.card {
    width: var(--card_width);
    height: var(--card_height);
    border-radius: var(--card_raidus);
    text-align: right;
    color: transparent;
    font-size: 0px;
}

.stack {
    /* padding-top: 25px; */
    margin-top: 23px;
}